/* Styles for header */
header {
    position: fixed; /* Position the header at the top of the viewport */
    top: 0; /* Align the header to the top */
    left: 0; /* Align the header to the left */
    width: 100%; /* Make the header take the full width of the viewport */
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
}
header h1 {
	color: blue;
	font-family: "Times New Roman", Times, serif;
}
p {
    font-family: italic; /* Italics font family */
    font-size: 16px;
    line-height: 1.5;
    color: black; /* Text color */
    margin-bottom: 18px; /* Bottom margin */
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}
/* Styles for footer */
footer {
    position: fixed; /* Position the footer at the bottom of the viewport */
    bottom: 0; /* Align the footer to the bottom */
    left: 0; /* Align the footer to the left */
    width: 100%; /* Make the footer take the full width of the viewport */
    background-color: red;
    padding: 10px;
    text-align: center;
}
