{% block content %}
<div class="login-container">
	<a href="{% url 'home' %}" class="btn btn-outline-primary mb-3 float-right">Back</a>
    <h2>LOGIN TO YOUR ACCOUNT</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">{{ form.password.label }}</label>
            {{ form.password }}
        </div>
        <button type="submit">Login</button>

        {% if form.errors %}
        <p>Username and password mismatch. Please try again.</p>
        {% endif %}

        <p class="text-center">Forgot your password <a href="{% url 'password_reset' %}">Reset Password</a></p>
    </form>
</div>
{% endblock content %}
<style>
.login-container {
    text-align: center;
    margin: 0 auto;
    width: 50%; /* Adjust as needed */
}
.form-group {
    margin-bottom: 10px;
    text-align: center;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
/* Back button styles */
.float-right {
  float: right;
  margin-right: 20px;
}
</style>
