{% extends 'base.html' %}
{% block content %}

<h2>LOGIN TO YOUR ACCOUNT</h2>
<form method="post" action="{% url 'login' %}">
        {% csrf_token %}
	<table>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
		</tr>
	</table>
        <button type="submit">Login</button>

	{% if form.errors %}
	<p> username and password mismatch. Please try again.</p>
	{% endif %}

	<p class="text-center">Forgot your password <a href="#">Reset Password</a></p>
		
	<p class="text-center">Don't have a account? <a href="#">Join Now</a></p>
</form> 

{% endblock content %}
