<section>
	<h1>About TailorX</h1>
        <p>
	TailorX is a unique platform connecting clients with tailors. It intends to solve the problem of looking for new tailors in a new city and vice versa. The struggle of Tailor-client disappoinment can absolutely be avoided here. How? I hear you say</p>
	<p>We provide a system that tracks the reviews of our custumers and ensures prompt delivery.</p>
	<p>As a customer, the app allows you discover tailors based on your interest in the Taiors portfolio, book appointment with any of the tailor on the platform, and voila you would have a date for your new clothing. This totally eradicates the stress of looking for a new tailor when  you relocate to a new city.</p>
	<p>As a tailor, the app allows you to scale up your business, schedule meeting at your own convenience and also keeps track of your works and growth.</p>

	<p>It's simply a WIN-WIN for everyone, and we are here to ensure that.
	</p>
</section>
<!-- As much as we connect clients with tailors, we also give tailors the unique opportunity to showcase their creativity make new customers. Exciting right?  Let's dive in!!! -->
