{% load static %}
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TailorX</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>TAILORX</h1>
        <p> Get Your Tailored Experience</p>
    </header>
    <div>
	    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
	    <p>{{ post.body }}</p>
    </div>
    <footer>
        <p>&copy; 2024 TailorX. All rights reserved.</p>
    </footer>
</body>
</html>
