{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>TailorX</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
<style>
  body {
            background-image: url('static/img/home2.png');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            min-height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .content {
            padding: 20px;
            flex: 1
        }
	.footer-simple-dark {
		background-color: #333;
    		color: #fff;
    		padding: 20px; /* Adjust padding as needed */
	}

	.text-general {
    		font-family: Arial, sans-serif; /* Example font family */
    		font-size: 14px; /* Example font size */
    		line-height: 1.5; /* Example line height */
	}

</style>
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="static/font/icomoon.css">
  <link rel="stylesheet" type="text/css" href="static/css/vendor.css">
  <!--Bootstrap ================================================== -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@600;700;800&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Syne:wght@600;700;800&display=swap"
    rel="stylesheet">

  <!--<script src="js/jquery-1.11.0.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script src="static/js/plugins.js"></script>
  <script src="static/js/script.js"></script>
</head>

<body class="hompage bg-accent-light">

  <header id="header" class=" content-light ">
    <div class="header-wrap container py-3">
      <div class="row align-items-center">
        <div class="primary-nav col-md-5 col-sm-2">
          <nav class="navbar">
            <div class="main-menu">
              <ul class="menu-list  list-unstyled d-flex m-0 ">
                <li class="menu-itemhome1 dropdown">
                  <a class="text-uppercase item-anchor dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"> Home </a>
                  <ul class="dropdown-menu">
                    <li class="sub-page pe-0"><a class="text-black text-uppercase dropdown-item" href="#">
                        Home version 1</a></li>
                    <li class="sub-page pe-0"><a class="text-black text-uppercase dropdown-item"
                        href="#">Home version 2 &nbsp;<span class="badge bg-secondary">pro</span></a></li>
                  </ul>
                </li>
                <li class="menu-itemhome1">
                  <a href="{% url 'about' %}" class="text-uppercase item-anchor">About</a>
                </li>
                  </ul>
              <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-md-2 col-sm-4 brand-block ">
          <div class="main-logo text-lg-center">
            <a href="">

              <img src="static/img/logo/logo3.png" alt="logo" class="brand-image">
            </a>
          </div>
        </div>
        <div class="right-block col-md-5 col-sm-4">
          <nav class="navbar justify-content-end">
            <div class="user-items">
              <ul class="list-unstyled content-light d-flex align-items-center m-0">
                <li>
                  <i class="icon icon-user"></i>
		  <a href="{% url 'client' %}" class="text-uppercase item-anchor">SignUp Client</a>
                </li>
		 <li>
                  <i class="icon icon-user"></i>
                  <a href="{% url 'tailor' %}" class="text-uppercase item-anchor">SignUp Tailor</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section id="billboard" class="padding-large no-padding-top position-relative">
	  <div class="container">
		  <div class="banner-header">
			  <div class="banner-content content-light style1 text-center col-md-6">
				  <h2 class="banner-title">
					  Get Your Tailored Experience.
				  </h2>
				  <div class="btn-center">
					  <a href="{% url 'login' %}" class="btn btn-medium btn-light">Login</a>
				  </div>
			  </div>
		  </div>
	  </div>
  </section>
  <section id="latest-blog" class="padding-large overflow-hidden" style="margin-top: 500px;">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="section-title">Recent Blogs</h2>
          <p>Read Our News & articles about updates</p>
        </div>
        <div class="row d-flex flex-wrap">
          <article class="col-md-4 post-item">
            <div class="image-holder">
              <a href="#">
                <img src="static/img/woman.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content">
              <div class="post-header text-center">
                <h3 class="post-title">
                  <a href="#">Best Comfortable Clothes Ideas For Women</a>
                </h3>
                <p>A simple free gown that could be worn for any occassion ranging from casual to office wears</p>
              </div>
            </div>
          </article>
	  <article class="col-md-4 post-item">
            <div class="image-holder">
              <a href="#">
                <img src="static/img/man.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content">
              <div class="post-header text-center">
                <h3 class="post-title">
                  <a href="#">Casual Clothing for Men</a>
                </h3>
                <p>A sweet, simple and classy look</p>
              </div>
            </div>
          </article>
          <article class="col-md-4 post-item">
            <div class="image-holder">
              <a href="#">
                <img src="static/img/kid1.jpg" alt="post" class="post-image">
              </a>
            </div>
            <div class="post-content">
              <div class="post-header text-center">
                <h3 class="post-title">
                  <a href="#">Fashionable Clothing for Kids</a>
                </h3>
                <p>A simple silk gown to suit any event and for all weather</p>
              </div>
            </div>
          </article>
        <div class="btn-center">
          <a href="#" class="btn btn-medium btn-black">Read All</a>
        </div>
      </div>
    </div>
  </section>
  <section class="categories-area section-padding40">
    <div class="container">
        <!-- section Tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9">
                <div class="section-tittle text-center mb-60">
                    <h2>Why use our service?</h2>
                    <p>We provide Elite, Well_trained and Discplined tailors that ensures your work is done on time and delivered timely, we also pride ourselves in the neatness off our work.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <footer id="footer" class="full-row bg-footer footer-simple-dark text-general overflow-hidden">
    <div class="container mt-5">
      <div class="row">
        <div class="footer-top-area">
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6">
              <div class="footer-menu menu-001">
                <img src="static/img/logo/logo3.png" alt="logo">
                <p></p>
                <div
                  class="newsletter-button d-flex flex-wrap align-items-center justify-content-between border-bottom widget-menu">
                  <input type="text" name="Subscribe" placeholder="Enter your email address...">
                  <a href="#">
                    <i class="icon icon-send"></i>
                  </a>
                </div>
                <div class="social-links">
                  <ul class="d-flex list-unstyled">
                    <li>
                      <a href="#">
                        <i class="icon icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon icon-instagram1"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="footer-menu menu-002">
                <h5 class="widget-title">Quick Links</h5>
                <ul class="menu-list list-unstyled text-uppercase">
                  <li class="menu-item">
			  <a href="{% url 'about' %}">ABOUT</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">SERVICES</a>
                  </li>
                  <li class="menu-item">
			  <a href="{% url 'post' %}">BLOGS</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">CONTACT</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer-menu text-uppercase menu-003">
                <h5 class="widget-title">Help & Info</h5>
                <ul class="menu-list list-unstyled">
                  <li class="menu-item">
                    <a href="#">CONTACT US</a>
                  </li>
                  <li class="menu-item">
                    <a href="#">FAQs</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer-menu contact-item menu-004">
                <h5 class="widget-title">Contact Us</h5>
                <p>Do you have any queries or suggestions? <a href="mailto:">wuyepkate@gmail.com</a>
                </p>
                <p>If you need support? Just give us a call. <a href="">+2348170099839</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>
  <div id="footer-bottom" class="full-row bg-footer footer-simple-dark text-general overflow-hidden">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between mb-3">

        <div class="col-md-4 col-sm-6">
          <div class="copyright text-md-end">
		  <p>&copy;  {% now "Y" %} TailorX. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- script ================================================== -->

  <!-- Bootstarp script ================================================== -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


</body>

</html>
