
<!DOCTYPE html>
<html class="has-sidemenu" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>TailorX | Your Tailored Experience</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicons/favicon.ico">
    <link rel="manifest" href="static/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="static/css/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="static/css/loaders.css/loaders.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="static/css/theme.min.css" rel="stylesheet" />
    <link href="static/css/user.min.css" rel="stylesheet" />
  </head>

  <body class="overflow-hidden-x">

    <nav class="fancynavbar fancynavbar-expand-lg" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-37},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-trigger="scroll" data-exclusive="true">
	    <div class="fancynavbar-togglerbar"><a class="fancynavbar-brand"><img class="fancynavbar-brand-img" src="static/img/logo/logo5.png" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll" />
          <!--You can use icon or text logo as well-->
          <!--<span class='fab fa-superpowers fs-6'></span>-->
          <!--<span class='logo-sparrow'>S</span>-->
        </a>
	    <div class="fancynavbar-toggler"><svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
            <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
            <path id="path-middle" d="M20,32h30"></path>
            <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
          </svg></div>
        <div class="fancynavbar-addon fancynavbar-addon-height" data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"><a class="fancynavbar-addon-item" href="#!"><span class="fab fa-twitter"></span></a><a class="fancynavbar-addon-item" href="#languageModal" data-bs-toggle="modal"><span class="font-secondary ls fw-black fs-10 d-block">EN</span></a></div>
      <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav">
		<li class="fancynav-item"><a class="fancynav-link" href="{% url 'home'%}"><span class="fancynav-link-content">Home</span></a></li>
            <div class="fancy-dropdown-menu">
              <div class="row pb-4 pt-3">
		<li class="fancynav-item"><a class="fancynav-link" href="{% url 'about' %}"><span class="fancynav-link-content">About</span></a>
            </div>
          </li>
	  <li class="fancynav-item"><a class="fancynav-link" href="{% url 'post' %}"><span class="fancynav-link-content">Blogs</span></a>
          </li>
	  </div>
	  <div>
          <li class="fancynav-item"><a class="fancynav-link" href="#"><span class="fancynav-link-content">Contact</span></a></li>
	  </div>
        </ul>
      </div>
    </nav>


    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">

      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div> </div>
            <div></div>
            <div></div>
            <div></div>
            <div> </div>
          </div>
        </div>
      </div><!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 overflow-hidden bg-body" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
        <div class="container-fluid">
          <div class="devices-wrapper">
            <div class="client" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="3" src="static/img/client.png" alt="" /></div>
            <div class="kid" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="3.8" src="static/img/kid.jpg" alt="" /></div>
            <div class="hero" data-zanim-xs='{"delay":0.4,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="4.8" src="static/img/hero.jpg" alt="" /></div>
            <div class="tape" data-zanim-xs='{"delay":0.3,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="3.4" src="static/img/tape.png" alt="" /></div>
            <div class="style8" data-zanim-xs='{"delay":0.2,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="4" src="static/img/style8.jpg" alt="" /></div>
            <div class="style5" data-zanim-xs='{"delay":0.4,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="5" src="static/img/style5.jpg" alt="" /></div>
            <div class="style0" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="3.7" src="static/img/style0.jpg" alt="" /></div>
            <div class="style4" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="4.8" src="static/img/style4.jpg" alt="" /></div>
            <div class="style1" data-zanim-xs='{"delay":0.3,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="3" src="static/img/style1.jpg" alt="" /></div>
            <div class="tailor" data-zanim-xs='{"delay":0.2,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="3" src="static/img/tailor.png" alt="" /></div>
            <div class="style2" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'><img class="device" data-parallax="data-parallax" data-rellax-speed="2" src="static/img/style2.jpg" alt="" /></div>
          </div>
          <div class="row py-8 min-vh-100 align-items-center">
            <div class="col-md-auto px-md-4 ps-md-8">
		    <h1 class="display-4 fs-7 fs-sm-5 fs-md-4"><span class="overflow-hidden d-inline-block"><span class="d-inline-block" data-zanim-xs='{"delay":1}'>TAILORX   <p><span class="font-base fst-italic fw-normal">Get Your Tailored eXperience</span></p></span></span><br /><span class="overflow-hidden d-inline-block pb-2"></span></h1>
              <div class="overflow-hidden">
                <p class="mt-3 mt-sm-4 font-secondary lead" data-zanim-xs='{"delay":1.2}'>Start Your Amazing Journey with our Elite Tailors</p>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="font-secondary text-center py-6 py-xl-9 bg-dark">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <div class="fs-7 text-body-tertiary">Are you  looking for a tailor in a new city? — We've got you and your design that we make seamless and alive! With TailorX, your outstanding clothes is just one step away. Join Us now.</div>
              <hr class="hr-short mt-6 opacity-1" />
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-4 pt-3 bg-dark" id="demoes">
        <div class="container-fluid">
          <div class="row mx-0" data-isotope='{"layoutMode":"packery"}'>
            <div class="col-lg-4 col-md-6 isotope-item mb-4"><a href="homes/default.html" target="_blank">
                <h6 class="fs-9 mb-3 text-center text-white text-capitalize">Home</h6><img class="img-fluid rounded" src="static/img/home4.png" alt="" />
              </a></div>
            <div class="col-lg-4 col-md-6 isotope-item mb-4"><a href="templates/about.html" target="_blank">
                <h6 class="fs-9 mb-3 text-center text-white text-capitalize">About</h6><img class="img-fluid rounded" src="" alt="" />
              </a></div>
            <div class="col-lg-4 col-md-6 isotope-item mb-4"><a href="templates/post.html" target="_blank">
                <h6 class="fs-9 mb-3 text-center text-white text-capitalize">Blog</h6><img class="img-fluid rounded" src="" alt="" />
              </a></div>
            <div class="col-lg-4 col-md-6 isotope-item mb-4"><a href="" target="_blank">
                <h6 class="fs-9 mb-3 text-center text-white text-capitalize">Tailor</h6><img class="img-fluid rounded" src="" alt="" />
              </a></div>
            <div class="col-lg-4 col-md-6 isotope-item mb-4"><a href="templates/registration/loginin.html" target="_blank">
                <h6 class="fs-9 mb-3 text-center text-white text-capitalize">Signin</h6><img class="img-fluid rounded" src="" alt="" />
              </a></div>
            <div class="col-lg-4 col-md-6 isotope-item mb-4"><a href="templates/client_registration.html" target="_blank">
                <h6 class="fs-9 mb-3 text-center text-white text-capitalize">Signup Client</h6><img class="img-fluid rounded" src="" alt="" />
              </a></div>
            <div class="col-lg-4 col-md-6 isotope-item mb-4"><a href="templates/tailor_registration.html" target="_blank">
                <h6 class="fs-9 mb-3 text-center text-white text-capitalize">Signup Tailor</h6><img class="img-fluid rounded" src="" alt="" />
              </a></div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 px-5 py-3">
              <hr class="text-danger opacity-1 ms-0" data-zanim-xs='{"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll" />
              <h2 class="fw-normal">Alterations that look as good as new</h2>
            </div>
            <div class="col-lg-6 px-5 py-3">
              <hr class="text-danger opacity-1 ms-0" data-zanim-xs='{"delay":0.2,"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll" />
              <h2 class="fw-normal">Stylish clothes that makes you standout looking Classy always</h2>
            </div>
            <div class="col-lg-6 px-5 py-3">
              <hr class="text-danger opacity-1 ms-0" data-zanim-xs='{"delay":0.4,"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll" />
              <h2 class="fw-normal">Easy access to tailors and appointments are super eesy to nook</h2>
            </div>
            <div class="col-lg-6 px-5 py-3">
              <hr class="text-danger opacity-1 ms-0" data-zanim-xs='{"delay":0.6,"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll" />
              <h2 class="fw-normal">On time delivery. Assured!!!</h2>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->

    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-body-secondary py-4 font-secondary text-center overflow-hidden">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2 position-relative"><a class="indicator indicator-up" href="#top"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a></div>
          <div class="col-lg-4 text-lg-start mt-4 mt-lg-0">
		  <p class="fs-10 text-uppercase ls fw-bold mb-0">Copyright &copy; {% now "Y"%} TailorX. All rights reserved.</p>
          </div>

    <!--===============================================-->
    <!--    Modal for language selection-->
    <!--===============================================-->
    <!-- Modal-->
    <div class="overflow-hidden">
      <div class="modal fade fade-in" id="languageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xs mx-auto" role="document">
          <div class="modal-content bg-black">
            <div class="modal-body text-center p-0"><button class="btn-close text-white position-absolute top-0 end-0 times-icon mt-2 me-2 p-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              <ul class="list-unstyled my-0 py-4 font-secondary">
                <li><a class="text-white fw-bold pt-1 d-block" href="templates/homepage.html">English</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="static/js/popper/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <script src="static/js/anchorjs/anchor.min.js"></script>
    <script src="static/js/is/is.min.js"></script>
    <script src="static/js/isotope-layout/isotope.pkgd.min.js"> </script>
    <script src="static/js/isotope-packery/packery-mode.pkgd.min.js"> </script>
    <script src="static/js/rellax/rellax.min.js"> </script>
    <script src="static/js/fontawesome/all.min.js"></script>
    <script src="static/js/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="static/js/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="static/js/gsap/gsap.js"></script>
    <script src="static/js/gsap/customEase.js"></script>
    <script src="static/js/gsap/drawSVGPlugin.js"></script><!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122907869-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-122907869-1');
    </script>
    <script src="static/js/theme.js"></script>
  </body>

</html>
